/*************************************/


/*

Clear styles                                                  */


/**************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    bottom: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: sub;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.43;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*********************************************************************************/


/* Tajem style */


/*********************************************************************************/


/* Basic */

body {
    background: #fff;
    box-sizing: border-box;
    text-align: center;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

header {
    line-height: 20px;
    width: 100%;
    height: 5em;
}

.hero {
    color: #fff;
    background: #955cd6 url(../images/hero-background-1.jpg) no-repeat center;
    background-size: cover;
    border: 0;
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}

.content {
    background: #fff;
}

.story {
    overflow: hidden;
    padding: 85px 15px 105px 15px;
}

.story-title {
    text-align: left;
}

.video {
    background: #955cd6 url(../images/video-background-2.jpg) no-repeat center;
    background-size: cover;
    border: 0;
    width: auto;
    padding: 150px 15px 150px 15px;
    color: #fff;
}

.video-center {
    text-align: center;
}

.team {
    background: #955cd6 url(../images/team-background-3.jpg) no-repeat center;
    background-size: cover;
    border: 0;
    width: 100%;
}

.testimonials {
    background: #955cd6 url(../images/testimonials-background-4.jpg) no-repeat center;
    background-size: cover;
    border: 0;
    width: 100%;
    height: 550px;
}

footer {
    background: #955cd6 url(../images/footer-background-5.jpg) no-repeat center;
    background-size: cover;
    border: 0;
    width: 100%;
    height: 608px;
}


/**************************************************/


/* Fonts */


/**************************************************/

h1,
h2,
h4 {
    font-family: 'Playfair Display', serif;
}

h3,
h5 {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
    font-size: 2.488rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.728rem;
    font-weight: 900;
    line-height: 2rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h3 {
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0px;
    line-height: 2rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
}

h5 {
    font-size: 1.225rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
}

p {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.375rem;
}


/**************************************************/


/* Header 
Logo + menu*/


/**************************************************/

.logo {
    float: left;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 0 15px;
    border: 0;
    width: 6.5em;
    height: 2.5em;
}

.nav-bar {
    float: right;
    position: relative;
    top: 20px;
    right: 0px;
    padding: 0 15px;
    min-width: 10%;
}


/**************************************************/


/* Hero page 
Title + text + CTA button */


/**************************************************/

.hero-title {
    padding-top: 25px;
}

.hero-text {
    padding-bottom: 30px;
    max-width: 60%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.dotnav {}

button:hover {
    background-color: #00e0d0;
    color: #ffffff;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    border: 1px solid #00e0d0;
    -moz-text-decoration-style: solid;
}

button {
    background-color: transparent;
    transition: 0.5s;
    padding: 9px 30px;
    display: inline-block;
    min-width: 160px;
    height: 45px;
    color: #00e0d0;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: 1px solid #00e0d0;
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    line-height: 1.43;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
}